/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --menu-text: #FF0070;
  --color-text-header_footer: #DB00FF;
  --accent-color: #FF0070;
  --color-text: #000028;
  --text-card: #F1B2CE;
  --button-focus: #FF0070;
  --title-card: #FF0070;
  --button-hover: rgb(255, 0, 112, 0.4);
  --decor-ugol: #FF0070;
  --decor-rec: #FF0070;
  --shadow-footer: #FF0070;


}
